#grid-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    background-color: rgb(220, 220, 220);
}

.square-div {
    box-sizing: border-box;
    height: 60px;
    flex: 0 0 60px;
}

button {
    font-family: sans-serif;
    font-size: 48px;
}

#buttons {
    display: flex;
}




/* FOR DEBUGGING ------------------------------------*/

* {
    border: 1px solid red;
} 
